/* ----- fonts ----- */

@font-face {
    font-family: 'Palanquin Dark Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Palanquin Dark Regular'), url('PalanquinDark-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Palanquin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Palanquin Regular'), url('Palanquin-Regular.woff') format('woff');
}

/* ----- base html properties ----- */

html {
    max-width: 1920px;
}

body {
    border: 0;
    margin: 0;
}

/* ----- header ----- */

header {
    height: 128px;
    background-color: #E76C1F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 42px;
}

.header_logo {
    height: 38px;
    padding-left: 120px;
}

/* ----- main ----- */

.restaurant_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_image {
    height: 508px;
    width: 100%;
    object-fit: cover;
}

.burger_logo {
    height: 200px;
    width: 200px;
    border: 13px solid #FDEADC;
    border-radius: 50%;
    transform: translateY(-150px);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.name_and_tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-120px);
}

.name_and_tagline p {
    font-family: 'Palanquin Regular', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #363534;
}

.name_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 26px;
}

.restaurant_name {
    font-family: 'Palanquin Dark Regular', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #E76C1F;
    margin-block-start: 0;
    margin-block-end: 0;
}

.restaurant_name span {
    color: #363534;
}

.rating_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FACAAC;
    border-radius: 4px;
    padding: 4px 5px;
    gap: 8px;
    color: #363534;
}

.rating_container h5 {
    font-size: 26px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ratings h6 {
    font-family: 'Palanquin Dark Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #363534;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ratings span {
    font-family: 'Palanquin Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #726D6D;
}

.burger_headline {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 32px;
    transform: translateY(-70px);
}

.orange_rectangle {
    width: auto;
    height: 60px;
    background-color: #E76C1F;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headline_text {
    font-family: 'Palanquin Regular', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-left: 283px;
}

.headline_text span {
    font-family: 'Palanquin Regular', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.burger {
    padding-left: 120px;
    width: 720px;
    transform: translateY(-50px);
}

.burger_entry {
    display: flex;
    background-color: #FDEADC;
    gap: 16px;
    padding: 10px 10px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.burger_entry img {
    width: 210px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
}

.burger_info {
    display: flex;
    width: 470px;
    justify-content: space-between;
}

.burger_info h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.burger_name_desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.burger_price_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 84px;
}

.pizza_headline {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 32px;
    transform: translateY(-30px);
}

.pizza {
    padding-left: 120px;
    width: 720px;
}

.pizza_entry {
    display: flex;
    background-color: #FDEADC;
    gap: 16px;
    padding: 10px 10px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.pizza_entry img {
    width: 210px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
}

.pizza_info {
    display: flex;
    width: 470px;
    justify-content: space-between;
}

.pizza_info h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.pizza_name_desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pizza_price_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 84px;
}

.salad_headline {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 32px;
    transform: translateY(40px);
}