html {
    max-width: 1920px;
}

body {
    border: 0;
    margin: 0;
}

header {
    height: 128px;
    background-color: #E76C1F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 42px;
}

.header_logo {
    height: 38px;
    padding-left: 120px;
}

.restaurant_name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_image {
    height: 508px;
    width: 100%;
    object-fit: cover;
}

.burger_logo {
    height: 200px;
    width: 200px;
    border: 13px solid #FDEADC;
    border-radius: 50%;
    transform: translateY(-150px);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}